 /* reset css */
 

 *{
     padding: 0;
     margin: 0;
     box-sizing: border-box;

 }

 html{

    font-family: Arial, Helvetica, sans-serif;
 }

 #main{

 }

 #header{
    height: 46px;
    background-color: #000;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 1;
    
 }

 #nav{

   display: inline;

}

 #nav li {
    display: inline-block;
    position: relative;

 }

 #nav li a {
     color: #fff;
     font-size: 16px;
     padding: 0px 24px;
     text-decoration: none;
     line-height: 46px;
    
    
 }

 #nav>li:hover>a{
    color: #000;
    background-color: #ccc;
    display: inline-block;
 }


 #nav .nav-case{
     font-size: 12px;
     margin-left: 2px;
 }

 #nav li:hover .subnav{
     display: block;
 }

#nav .subnav{

    display: none;
    position: absolute;
    top:100%;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
 }

 #nav .subnav a{

    color: #000;
 }
 

 #nav .subnav  li:hover {
   background-color:#ccc;
   display: block;
  
}

.nav , .subnav{
    list-style-type: none;
}

#header .search-btn{

    float: right;
}
.search-btn .search-icon{
    color: #fff;
    font-size: 20px;
    padding: 0 24px;
    line-height: 46px;
   
}

#header .search-btn:hover{
   background-color: red;
   cursor: pointer;
}


 #slider{
   margin-top: 46px;
   padding-top: 50%;
   background: url("/assets/image/chicago.jpg") top center/cover no-repeat;
   position: relative; 
}

 #slider .text-content{
   position: absolute;
   color: #fff;
   bottom: 47px;
  text-align: center;
  width: 100%;

 }

 #slider .text-heading
 {  
     margin: 25px 0;
    font-weight: 0.8;
    letter-spacing: 2px;
    font-size: 26px;
 }
 #slider .text-description{
    font-size: 15px;
 }

 #content{
    
 }
  /* about */
 #content .content-section{ 
      width: 800px;
      margin: 0 auto;
      padding: 64px 0 112px;
    
  
 }

  #content .section-heading {
         padding-bottom: 25px;
         font-size: 30px;
         font-weight: 400;
         letter-spacing: 4px;
  }
 #content .section-subheading {
         font-size: 16px;
         opacity: 0.6;
 }

 #content .section-heading ,
#content .section-subheading {

   text-align: center;
   padding-bottom: 15px;
}

#content .about-text{
   font-size: 15px;
   text-align: justify;
   line-height: 1.5;

}

/* list-item */
#content .list-member{
   margin-top: 47px;
   overflow: hidden;
  

}
#content .member-item{

   float: left;
   width: 33.33333%;
   text-align: center;
}

#content .member-name{
   margin: 15px 0px;
   font-size: 15px;
}

#content .member-img{
   width: 154px;
   border-radius: 4px;
}

/* tour-section */

.tour-section{
  background-color: #000;


}

.white-text{
   color: #fff;
}

.ticket-list{

   background-color: #fff;
   list-style-type: none;
   
   
}

.ticket-list li{
   font-size: 15px;
   line-height: 1.5;
   padding: 8px 24px;
   border-bottom: 1px solid #ccc;
}

.ticket-list .sold-out{

   background-color: #f44336;
   color: #fff;
   margin-left: 16px;
   padding: 4px 8px;
  
}

.ticket-list .num-ticket{

   background-color: #000;
   color: #fff;
   float: right;
   margin-right: 16px;
   border-radius: 50%;
   padding: 0 8px;
   display: inline-block;
}

.place-list{
   overflow: hidden;
   padding: 32px 0px;
   margin-right: -8px;
   margin-left: -8px;

}

.place-list .place-item{
   width: 33.33333%;
   float: left;
   padding: 0px 8px;
}
.place-list .place-img{
  width: 100%;
  display: block;

}
.place-list .place-img:hover{
   opacity: 0.5;

}

.place-body{
   background-color: #fff;
   padding: 16px 16px;
   line-height: 1.5;
}


.place-heading {
   padding-bottom: 15px;
   font-size: 15px;
   
}
.place-time {
   padding-bottom: 15px;
   font-size: 15px;
   opacity: 0.5;

   
}
.place-desc {
   padding-bottom: 15px;
   font-size: 15px;

   
}
.place-buy-btn {
   margin-top: 16px 0;
   padding: 8px 16px;
   text-decoration: none;
   color: #fff;
   background-color: #000;
}


.place-buy-btn:hover {
   color: #000;
   background-color: #ccc;
}



.row{
   padding: 8px;
   overflow: hidden;
}

.col{
   float:left;
   padding-left: 8px;
   padding-right: 8px;
}

.col-half{

   width: 50%;
}
.col-full{
   width: 100%;
}

.contact-content{

   margin-top: 48px;
}

.contact-info{
   font-size: 18px;
}

.contact-info i{ 
   width: 30px;
   display: inline-block;

}

.contact-form{
   font-size: 15px;
   overflow: hidden;
}

.contact-form .form-control{

   padding: 8px;
   border: 1px solid #ccc;
   width: 100%;
}
.mt-8{
   margin-top: -10px;
}

.mt-16{
   margin-top: 7px ;
}

.contact-form .form-submit-btn{
   color: #fff;
   background-color: #000;
   padding: 10px 16px;
   border: 1px solid #000;
   float: right;
   margin-right: 17px;
}

.form-submit-btn:hover{
   opacity: #ccc;
}

.map-section img{
    width: 100%;
}
 #footer{
    text-align: center;
    padding: 64px 20px;
    color: #bbb;
    
 }

 .socials-list> a{
    text-decoration: none;
    color: #bbb;
 }


